body {
  margin: 0px;
  padding-top: 87px;
  padding-left: 113px;
  background-color: rgba(232, 229, 229, 0.752);
  padding-right: 24px;
  box-sizing: border-box;
  font-family: roboto, Arial;
}
img {
  cursor: pointer;
}
.video-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  border: 1px solid rgba(211, 211, 211, 0.56);
}
@media screen and (max-width: 750px) {
  .video-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 445px) {
  .video-section {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1000px) {
  .video-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-proview .thumbnail img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}
.thumbnail {
  position: relative;
  z-index: 0;
}
.thumbnail .video-timer {
  position: absolute;
  background: black;
  color: white;
  padding: 3px 4px;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  right: 5px;
  bottom: 12px;
}
.video-discript {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-pic img {
  width: 40px;
  border-radius: 50px;
}

.auther-view .video-title {
  width: 220px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}
.auther-view .auther,
.auther-view .stats {
  font-size: 13px;
  font-weight: 600;
  color: rgba(157, 157, 157, 0.932);
}

.auther-view .auther {
  margin-bottom: 3px;
}
.header {
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  border: 2px solid rgba(196, 196, 196, 0.417);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header .left-header {
  display: flex;
  align-items: center;
  justify-content: start;
}
.left-header .humburger {
  margin: 0 10px 0 21px;
  height: 25px;
}
.left-header .youtube-logo {
  margin-left: 11px;
  width: 90px;
}
.header .middle-header {
  margin: 0px 32px 0px 70px;
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 600px;
}
.middle-header .middle-btn1 {
  cursor: pointer;
  margin-left: -1px;
  margin-right: 10px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 2px;
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 79px;
  height: 45px;
  border: 1px solid rgb(206, 206, 206);
  position: relative;
}
.middle-btn1 .tootip,
.middle-btn2 .tootip,
.noti .tootip,
.youtube-div .tootip,
.upload-div .tootip {
  padding: 6px 16px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background: rgba(119, 119, 119, 0.98);
  bottom: -34px;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
}
.middle-btn2:hover .tootip,
.noti:hover .tootip,
.youtube-div:hover .tootip,
.middle-btn1:hover .tootip,
.upload-div:hover .tootip {
  opacity: 1;
}

.middle-btn1 img {
  width: 30px;
}
.middle-btn2 {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(207, 207, 207, 0.255);
  position: relative;
  transition: opacity 3660s;
}

.middle-header .middle-search {
  border-radius: 2px;
  flex: 1;
  box-shadow: inset 1px 3px 4px rgba(0, 0, 0, 0.05);
  padding: 8px 12px;
  height: 45px;
  border: 1px solid rgb(206, 206, 206);
  color: black;
  font-size: 16px;
  font-weight: 500;
  width: 0;
  outline: none;
}

.middle-search::placeholder {
  font-size: 16px;
  color: gray;
  font-weight: 500;
}

.header .right-header {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  flex-shrink: 0;
}
.noti {
  position: relative;
}
.right-header .noti .notification-count {
  background: rgb(202, 18, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: 500;
  border-radius: 13px;
  text-align: center;
  font-size: 14px;
  color: white;
  position: absolute;
  right: -1px;
  top: 2px;
}

.header .right-header img {
  width: 32px;
}
.header .right-header .my-channer {
  margin-right: 20px;
  width: 40px;
  object-position: center;
  object-fit: cover;
  height: 40px;
}
.side-bar {
  padding-top: 5px;
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 113px;
}
.side-bar img {
  width: 33px;
}
.side-bar div {
  cursor: pointer;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
.side-bar div p {
  padding: 0;
  margin: 6px 0 0 0;
}
.side-bar div:hover {
  background: rgba(230, 230, 230, 0.829);
}
.upload-div,
.youtube-div,
.noti {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
